body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:108px;
  width:745px;
  height:272px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:272px;
}
#u1 {
  position:absolute;
  left:2px;
  top:128px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:433px;
  top:230px;
  width:208px;
  height:57px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:57px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:143px;
  top:208px;
  width:238px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:19px;
  top:10px;
  width:332px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
