body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:625px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:625px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:217px;
  top:244px;
  width:80px;
  height:17px;
  opacity:0.300000011920929;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
