body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-200px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:38px;
  top:389px;
  width:277px;
  height:55px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:55px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:670px;
  top:490px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:760px;
  top:490px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:850px;
  top:490px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:57px;
  top:220px;
  width:258px;
  height:530px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:530px;
}
#u8 {
  position:absolute;
  left:2px;
  top:257px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:47px;
  top:748px;
  width:270px;
  height:208px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:208px;
}
#u10 {
  position:absolute;
  left:2px;
  top:96px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
