body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-380px;
  top:0px;
  width:1903px;
  height:2484px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:2484px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1234px;
  width:1899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:60px;
  width:230px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:180px;
  top:640px;
  width:221px;
  height:46px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:46px;
}
#u4 {
  position:absolute;
  left:2px;
  top:15px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:170px;
  top:636px;
  width:231px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
