body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:1235px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:1235px;
}
#u1 {
  position:absolute;
  left:2px;
  top:610px;
  width:1052px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:230px;
  width:699px;
  height:343px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:343px;
}
#u3 {
  position:absolute;
  left:2px;
  top:164px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:240px;
  width:703px;
  height:359px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:359px;
}
#u5 {
  position:absolute;
  left:2px;
  top:172px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
