body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-281px;
  top:0px;
  width:1903px;
  height:1653px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:1653px;
}
#u1 {
  position:absolute;
  left:2px;
  top:818px;
  width:1899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:172px;
  top:541px;
  width:28px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:190px;
  top:570px;
  visibility:hidden;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:190px;
  top:532px;
  width:320px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:167px;
  top:552px;
  width:333px;
  height:28px;
  overflow:hidden;
  visibility:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:538px;
  top:620px;
  width:265px;
  height:263px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:263px;
}
#u11 {
  position:absolute;
  left:2px;
  top:124px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
