body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-208px;
  top:0px;
  width:1616px;
  height:1738px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1616px;
  height:1738px;
}
#u1 {
  position:absolute;
  left:2px;
  top:861px;
  width:1612px;
  visibility:hidden;
  word-wrap:break-word;
}
