body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-200px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:670px;
  top:520px;
  width:60px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:740px;
  top:520px;
  width:60px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:820px;
  top:520px;
  width:60px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:56px;
  top:224px;
  width:255px;
  height:416px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:416px;
}
#u6 {
  position:absolute;
  left:2px;
  top:200px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:53px;
  top:638px;
  width:270px;
  height:332px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:332px;
}
#u8 {
  position:absolute;
  left:2px;
  top:158px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
