body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-200px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1599px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:33px;
  top:602px;
  width:288px;
  height:61px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:46px;
  top:394px;
  width:271px;
  height:48px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:46px;
  top:394px;
  width:271px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:670px;
  top:730px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:760px;
  top:730px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:850px;
  top:740px;
  width:60px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
